.box {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        text-transform: uppercase;
    }
}

a.box {
    &:hover {
        .link-item::before {
            color: $green;
        }
    }
}

.box-filled {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    .link-item-light {
        color: #fff;
    }
}
