.box-panel {
    background-color: $gray;
    border: 1px solid $gray-dark;
    padding: 10px;

    .box-title {
        background: #fff;
        color: $base-font-color;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: bold;
    }

    .box-content {
        background-color: #fff;
        border: none;
        padding-top: 0;
    }

    ul,
    li,
    table,
    thead,
    tfoot,
    tr,
    td {
        border: none;
    }
}
