
.btn,
.read-more {
    font-family: $base-font-family;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-green {
    background-color: $palette-3;

    &:hover {
        background-color: darken($palette-3, 5%);
    }
    &.show-post {
        border:none;
        width:325px;
        margin: 0 auto;
        font-size:20px;
        padding:10px;
        margin-bottom:20px;
        &:focus {
            background-color: $palette-3 !important;
        }
    }
    &.show-all-post {
        position:absolute;
        top: 75%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index:12;
    }
    &.show-less-post {

    }
    @media only screen and (max-width: 768px) {
        &.show-all-post {
            position:relative;
            top: unset;
            left: unset;
            margin-right: unset;
            transform: unset;
            margin: 20px auto;
        }
    }
}

