.flickity-prev-next-button.next, .flickity-prev-next-button .previous {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    margin-top: -38px;

}
.flickity-prev-next-button.next {
    right: 15px;
    text-align:right;
}
.flickity-prev-next-button.previous {
    left: 15px;
    text-align:left;
}



