#wrapper {
    position: relative;
    background: #fff;
}

&:not(.home) {
    #wrapper {
<<<<<<< Updated upstream
        padding-top: 69px;
=======
        @media screen and (min-width: #{$screen-lg-max}) {
            padding-top: 69px;
        }

        @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
            padding-top: 105px;
        }

        @media screen and (max-width: #{$screen-lg-min}) {
            padding-top: 49px;
        }
>>>>>>> Stashed changes
    }
}
