footer.main-footer {
    font-family: $dunkers-font-family;
	  background: rgb(30,30,30);
    border-top: 1px solid $gray;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and #{$screen-below-sm} {
      padding-top: 30px;
    }

    .logotype {
      img, svg {
        height: 25px;
        opacity: 1;

        use, path, defs, clippath {
          fill: #fff !important;
        }

        @media screen and #{$screen-below-sm} {
          width: 100%;
          height: auto;
          margin: 0 auto 30px auto;
          display: block;
        }

      }
    }

    h1, h2, h3, h4, h5, h6, caption, h2.footer-title {
      font-weight: 300;
      font-size: 1.8em;
      color: #fff;
      text-transform: uppercase;

      @media screen and #{$screen-below-sm} {
          font-size: 1.4em;
      }
    }

    .icons-list {
        margin-top: 0;

        a {
            display: block;

            &:hover i {
                transition: all 200ms;
                animation: footerSwingAnimation linear 1s;
                animation-iteration-count: 1;
                transform-origin: 50% 0%;
                color: $green;
            }
        }

    }

    //General widgets
    div[class^="widget_"], div[class*=" widget_"] {
      margin-bottom: 40px;

      &.grid-lg-4:nth-child(3n+1){
          clear:left
      }

    }

    //Calendar
    .widget_calendar {
      table {
        tbody, tfoot, thead {
          td, th {
            border-color: #424242;
          }
        }
      }
    }

    //Search
    .widget_search {
      input[type="search"],
      input[type="submit"] {
        color: #fff;
        font-weight: 300;
      }
      input[type="search"] {
        background: none;
        border-color: #424242;
      }
      input[type="submit"] {
        border-color: #424242;
        width: 100%;
        background-color: #424242;
      }
      .input-group-addon-btn {
        border: none;
      }
    }
}

@keyframes footerSwingAnimation{
  0% {
    transform:  rotate(0deg) ;
  }
  20% {
    transform:  rotate(7deg) ;
  }
  40% {
    transform:  rotate(-5deg) ;
  }
  60% {
    transform:  rotate(2.5deg) ;
  }
  80% {
    transform:  rotate(-2.5deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}
