#site-header {
    display: table;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;

    nav.navbar {
        transition: padding 200ms;
    }

    .logotype {
        transition: opacity 300ms;

        svg, img {
            height: 25px;
        }

        svg path,
        svg use {
            fill: #fff !important;
            transition: fill 300ms;
        }

        &:after, &:before {
            opacity: 0;
            transition: 200ms opacity;
        }

        &:hover {
            opacity: .9;

            &:after {
                border-radius: 2px;
                padding: 10px;
                background-color: #fff;
                color: #1E1E1E;
                text-transform: uppercase;
                opacity: 1;
            }

            &:before {
                border-bottom-color: #fff;
                opacity: 1;
            }
        }
    }

    &.liquid-header {
        background-color: rgba(#fff,.92);
        border-bottom: 1px solid $gray-light;
        box-shadow: 0 0 2px rgba(#1E1E1E, .1);

        .logotype {
            svg path,
            svg use {
                fill: #1E1E1E !important;
            }
        }

        nav.navbar {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

}

&.admin-bar #site-header {
    margin-top: 32px;
}

&.home .navbar {
    background-color: transparent;
    padding: 15px 0;

    .current-page-ancestor a::after,
    .current_page_item a::after {
        display: none;
    }
}


#main-menu {
    ul {
        text-align: right;
        li {
            display: inline-block;
            a {
                transition: color 200ms, background 200ms, border 200ms;
            }
        }
    }
}

#main-menu{
    > ul > li {
        padding: 0 10px;

        > a {
            color: #fff;
            padding: 10px 0;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 4px;
                left: 0;
                background-color: #fff;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }

            &:hover {
                background: none;
                color: #fff;
                text-decoration: none;

                &:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }

        &.current_page_item a {
            border: 2px solid #fff;
            padding: 4px 18px;
            color: #fff;
            margin-top: 4px;
            margin-bottom: 4px;
            text-decoration: none;

            &:hover {
                background: #fff;
                border-color: #fff;
                color: #1E1E1E;
            }

            &:before {
                display: none;
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

#site-header.liquid-header #main-menu {
    ul li {
        a {
            color: #1E1E1E;

            &:before {
                background-color: #1E1E1E;
            }
        }

        &.current_page_item {
            a {
                color: #1E1E1E;
                border-color: #1E1E1E;
            }
        }
    }
}

.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
    background: url('../images/dunkers_hero_compressed.jpg') center;
    background-size: cover;

    .modularity-mod-slider {
        width: 100%;
        height: 100%;
    }

    .search {
        @include center();
        width: 30%;
        min-width: 300px;

        label {
            display: inline-block;
            font-weight: 300;
            letter-spacing: 1px;
        }

        input[type="search"] {
            border: none;
        }
    }

    .stripe {
        display: none !important;
    }

    .scroll-down-please {
        @include center(true, false);
        z-index: 999;
        bottom: 20px;
        font-size: 1.5em;
        background-color: rgba(#fff, .5);
        border-radius: 50px;
        padding: 10px 20px 5px;
        line-height: 1;
        color: #000;
    }

    .scroll-down-please-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: .5em;
        position: relative;
        margin-left: .4em;
        color: #000;
        font-size: 1em;
        z-index: 9999;
        animation: 1500ms scroll-down-please infinite ease-in-out;

        &::after {
            @include hbg-icon($icon-arrow-double-down);
            @include center();
        }
    }
}

@keyframes scroll-down-please {
    0% {
        top: -4px;
    }

    50% {
        top: 1px;
    }

    100% {
        top: -4px;
    }
}
