#site-header {
    display: table;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;

    nav.navbar {
        transition: padding 200ms;
    }

    .logotype {
        svg, img {
            height: 30px;
        }

        svg path {
            fill: #fff !important;
            transition: fill 300ms;
        }
    }

    &.liquid-header {
        background-color: rgba(#fff,.95);
        border-bottom: 1px solid $gray-light;
        box-shadow: 0 0 2px rgba(#000, .1);

        .logotype {
            svg path {
                fill: #000 !important;
            }
        }

        nav.navbar {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

}

&.admin-bar #site-header {
    margin-top: 32px;
}

&.home .navbar {
    background-color: transparent;
    padding: 15px 0;

    .current-page-ancestor a::after,
    .current_page_item a::after {
        display: none;
    }
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: url('../images/dunkers_hero_compressed.jpg') center;
    background-size: cover;

    .search {
        @include center();
        width: 30%;
        min-width: 300px;

        label {
            display: inline-block;
            font-weight: 300;
            letter-spacing: 1px;
        }

        input[type="search"] {
            border: none;
        }
    }

    .stripe {
        display: none !important;
    }
}
