.navbar-mainmenu {
    display: table;
    width: 100%;
    margin-top: 0;

    .logotype {
        display: table-cell !important;
        vertical-align: middle;
        line-height: 1;

        img {
            max-height: 30px;
        }
    }

    .nav {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 100%;
    }

    a {
        color: #000;
    }
}
