.btn-circle {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 1;
    border-radius: 1000px;
    transition: 200ms all ease-in-out;

    span {
        @include center();
    }

    &:hover {
        background-color: darken($green, 10%);
        text-decoration: none;
    }
}

.btn-green {
    background-color: $green;
    color: #fff;
}
