.events-wrapper {
    background-color: #fff;
    padding-top: 100px;

    .modularity-mod-slider {
        margin-bottom: 0;
    }
}

nav.event-dates {
    background-color: $palette-3;
    font-family: $base-font-family;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 15px;
    line-height: 1;

    li + li {
        margin-left: 30px;
    }

    @media #{$screen-below-md} {
        padding: 0;

        li {
            display: block;

            a {
                padding: 10px 0;
            }
        }

        li + li {
            margin: 0;
            border-top: 1px solid darken($palette-3, 5%);
        }
    }

    a {
        display: block;
        color: $base-font-color;

        .year {
            display: block;
            font-size: .8em;
        }

        &:hover {
            text-decoration: none;

            .months {
                text-decoration: underline;
            }
        }
    }
}

.event-list {
    text-align: center;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    @media #{$screen-below-md} {
        text-align: left;
    }

    p + p {
        margin-top: 15px;
    }

    @media #{$screen-md-up} {
        padding: 30px;
    }

    @media #{$screen-lg-up} {
        padding: 50px;
    }

    li {
        padding: 20px 0;
    }

    li + li {
        border-top: 2px solid $palette-3;
    }

    li:first-of-type {
        padding-top: 0;
    }

    li a {
        display: block;

        &:hover {
            h2 {
                text-decoration: underline;
                color: $palette-3;
            }

            text-decoration: none;
        }
    }
}

.box-index-event {
    @media screen and (min-width: #{$screen-md-min}) {
        margin: 0 40px;
        width: auto;
    }
}
