.events-wrapper {
    background-color: #fff;
    padding-top: 100px;
}

nav.event-dates {
    background-color: $palette-3;
    font-family: $base-font-family;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    line-height: 1;

    a {
        color: $base-font-color;
    }
}
