.footer-scroller {
    position: relative;
    background-image: url('/footer-test.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backgorund-position: center center;
    height: 400px;

    .scroll-elevator {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        text-align: center;

        a {
            display: inline-block;
            background-color: transparent;
            height: auto;
            box-shadow: none;
            border-radius: 0;
            color: #fff;
            font-family: $condensed-font-family;
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: bold;

            i {

            }

            span {
                display: block;
            }
        }
    }
}


footer.main-footer {
    background-color: $palette-2;
    color: #000;
    margin-top: 0;
    box-shadow: none;

    a,
    a:hover,
    a:active,
    a:visited {
        color: #000;
    }

    [class*="modularity-mod-"] {

        &:nth-child(3n) {
            text-align: right;
        }

        &:nth-child(3n+1) {
            text-align: left;
        }

        &:nth-child(3n+2) {
            text-align: center;
        }

        img {
            width: 40%;
        }

        p+h3 {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: #{$screen-sm-max}) {

        [class*="modularity-mod-"] {

            &:nth-child(3n) {
                order: 3;
                text-align: center;
            }

            &:nth-child(3n+1) {
                order: 2;
                text-align: center;
                margin-bottom: 30px;
            }

            &:nth-child(3n+2) {
                order: 1;
                margin-bottom: 40px;
            }

            img {
                width: 60%;
            }

            p + h3 {
                margin-top: 40px;
            }

        }

    }

}
