.footer-scroller {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    backgorund-position: center center;
    height: 400px;
    overflow: hidden;

    .scroll-elevator {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        transform: translateY(100%);
        transition: transform 1s;

        @include gradient(rgba(#000, 0), rgba(#000, .8));
        padding: 20px 0;

        a {
            display: inline-block;
            background-color: transparent;
            height: auto;
            box-shadow: none;
            border-radius: 0;
            color: #fff;
            font-family: $condensed-font-family;
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: bold;

            i {
                animation: 1000ms float ease-in-out infinite;
                position: relative;
                display: block;
            }

            span {
                display: block;
            }
        }
    }
}

&.show-scroll-elevator .footer-scroller .scroll-elevator {
    transform: translateY(0);
}

@keyframes float {
    0% {
        top: -4px;
    }
    50% {
        top: 0;
    }
    100% {
        top: -4px;
    }
}


footer.main-footer {
    background-color: $palette-2;
    color: #000;
    margin-top: 0;
    box-shadow: none;

    a,
    a:hover,
    a:active,
    a:visited {
        color: #000;
    }

    [class*="modularity-mod-"] {

        &:nth-child(3n) {
            text-align: right;
        }

        &:nth-child(3n+1) {
            text-align: left;
        }

        &:nth-child(3n+2) {
            text-align: center;
        }

        img {
            width: 40%;
        }

        p+h3 {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: #{$screen-sm-max}) {

        [class*="modularity-mod-"] {

            &:nth-child(3n) {
                order: 3;
                text-align: center;
            }

            &:nth-child(3n+1) {
                order: 2;
                text-align: center;
                margin-bottom: 30px;
            }

            &:nth-child(3n+2) {
                order: 1;
                margin-bottom: 40px;
            }

            img {
                width: 60%;
            }

            p + h3 {
                margin-top: 40px;
            }

        }

    }

}
