
footer.main-footer {
    background-color: $palette-2;
    color: #000;

    a,a:hover,a:active,a:visited {
        color: #000;
    }

    [class*="modularity-mod-"] {

        &:nth-child(3n) {
            text-align: right;
        }

        &:nth-child(3n+1) {
            text-align: left;
        }

        &:nth-child(3n+2) {
            text-align: center;
        }

        img {
            width: 40%;
        }

        p+h3 {
            margin-top: 30px;
        }
    }
}
