.search-top {
    @include cover();
    position: fixed;
    background-color: rgba(darken($palette-3,43%),.9);
    padding: 20px 0;
    animation: fadeIn;
    backdrop-filter: blur(5px);

    .container {
        @include center();
    }

    form {
        box-shadow: 0 0 50% rgba(#000,.8);

        label {
            display: none;
        }

        input[type="search"] {
            font-family: $base-font-family;
            background-color: rgba(#fff,.15);
            color: #fff;
            border: none;
            border-bottom: 3px dashed #fff;

            &::placeholder {
                color: #fff;
            }
        }
    }
}

#site-header {
    display: table;
    position: fixed;
    z-index: 200;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;
    background-color: transparent;
    animation: fadein 2s;

    nav.navbar {
        background-color: transparent;
        transition: padding 200ms;
    }

    nav.navbar [data-tooltip] {
        &:after {
            border-radius: 2px;
            padding: 10px;
            background-color: #fff;
            color: $black;
            text-transform: uppercase;
            opacity: .9;
            transition: all 100ms;
        }

        &:before {
            border-bottom-color: #fff;
            opacity: .9;
            transition: all 100ms;
            bottom: -8px;
        }
    }

    .logotype {
        transition: opacity 300ms;
        z-index: 800;

        svg, img {
            transition: height 200ms;
            height: 60px;
            width: auto;
            max-width: none;
        }

        svg path,
        svg use {
            fill: #fff;
            transition: fill 300ms;
        }

        &:after, &:before {
            opacity: 0;
            transition: 200ms opacity;
        }
    }

}

&.mobile-menu-open #site-header .logotype {
    svg path,
    svg use {
        fill: $black;
    }
}

#site-header.liquid-header,
&:not(.home) #site-header,
&.menu-open #site-header,
&.no-js #site-header {
    background-color: rgba($palette-2,.97);
    box-shadow: 0 0 4px rgba($black, .7);

    .logotype {

        svg, img {
            height: 50px;
            width: auto;
            max-width: none;
        }

        svg path,
        svg use {
            fill: $black !important;
        }
    }

    nav.navbar [data-tooltip] {
        &:after {
            background-color: rgba(#000,.7);
            color: #fff;
        }

        &:before {
            border-bottom-color: rgba(#000,.7);
            opacity: 1;
            bottom: -8px;
        }
    }

    nav.navbar svg.hbg-icon {
        opacity: 1;
        fill: $black;
    }

    nav.navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

&.home .site-header.header-casual .navbar-mainmenu.navbar {
    background-color: transparent;
    padding: 15px 0;

    .current-page-ancestor a::after,
    .current_page_item a::after {
        display: none;
    }
}
