.header-gutter {
    padding-top: 80px;
}

#site-header {
    position: fixed;
    z-index: 200;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;
    background-color: rgba(0, 0, 0, 0.12);
    animation: fadein 2s;

    nav.navbar {
        background-color: transparent;
        transition: padding 200ms;
        padding: 15px 0;
    }

    nav.navbar [data-tooltip] {

        &:after {
            border-radius: 0px;
            padding: 7px 10px;
            background-color: #fff;
            color: $black;
            text-transform: uppercase;
            opacity: .9;
            transition: all 100ms;
        }

        &:before {
            border-bottom-color: #fff;
            opacity: .9;
            transition: all 100ms;
            bottom: -8px;
        }

        @media screen and (max-width: #{$screen-md-max}) {
            &:after,
            &:before {
                display: none;
            }
        }
    }

    .menu-trigger {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
    }

    .logotype {
        transition: opacity 300ms;
        z-index: 800;
        margin-right: 20px;
        display: table-cell;
        vertical-align: middle;

        @media screen and (min-width: #{$screen-lg-max}) {
            float: left;
        }

        svg, img {
            transition: height 200ms, background 300ms;
            height: 60px;
            width: auto;
            max-width: none;
        }

        svg path,
        svg use {
            fill: #fff;
            transition: fill 300ms;
        }

        &:after, &:before {
            opacity: 0;
            transition: 200ms opacity;
        }

        &:hover svg {
            background-color: $palette-3;
        }

        @media #{$screen-below-sm} {
            padding-right: 20px;

            img, svg {
                height: 9vw;
            }
        }

        @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
            margin: 5px auto;
            display: inline-block !important;
        }
    }

}

#site-header.liquid-header,
&:not(.home) #site-header,
&.menu-open #site-header,
&.no-js #site-header {
    background-color: rgba($palette-2,.97);
    box-shadow: 0 0 4px rgba($black, .7);

    .logotype {
        @media screen and (min-width: #{$screen-md-min}) {
            svg, img {
                height: 50px;
                width: auto;
                max-width: none;
            }
        }

        svg path,
        svg use {
            fill: $black !important;
        }
    }

    nav.navbar [data-tooltip] {
        &:after {
            background-color: rgba(#000,.7);
            color: #fff;
        }

        &:before {
            border-bottom-color: rgba(#000,.7);
            opacity: 1;
            bottom: -8px;
        }
    }

    nav.navbar svg.hbg-icon {
        opacity: 1;
        fill: $black;
    }

    nav.navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
