&.search {
    .creamy {
        background-color: $palette-3;
        border: none;
        padding-top: 50px;
    }

    .search-result-item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        h3 .link-item::before {
            margin-right: .5em;
            color: $palette-3;
        }
    }
}
