.navbar-event-categories {
    background-color: $gray;
    font-size: 0;

    a {
        padding: 18px 15px;
        color: $black;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1;

        &:hover {
            background-color: $blue;
            color: #fff;
            text-decoration: none;
        }
    }

    .current_page_item a {
        background-color: darken($blue, 5%);
        text-decoration: none;
        color: #fff;

        &::after {
            display: none;
        }
    }

    li + li {
        margin-left: 0;
    }
}

.event-categories-filter {
    font-weight: bold;
    font-size: .9em;
    line-height: 1;
    padding: 18px 15px;
    background: $gray-dark;
    text-transform: uppercase;
    font-size: 1rem;
}
