// ***************************************************************
// *** Base font
// ***************************************************************
$base-font-family: 'Karbon', 'Lato','Roboto', 'Helvetica', 'Arial';
$base-font-size: 20px;
$base-line-height: 1.4;
$base-font-color: #5e6a71;
