@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeinDown {
    from {
        opacity: 0;
        transform: translateY(-20vh);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeinUp {
    from {
        opacity: 0;
        transform: translateY(20vh);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeinUpHeroText {
    from {
        opacity: 0;
        top: 55%;
    }
    to   {
        opacity: 1;
        top: 50%;
    }
}

