
.box.box-news {
    background-color: transparent;
    background: none !important;

    .box-content {
        background: none;
    }

    &:not(.box-news-horizontal) {
        img {
            border-radius: 50%;
            box-shadow: inset 0 0 3px rgba(#000,.7);
        }
    }

    &.box-news-horizontal {
        .box-image-container {
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            width: 20%;

            &:after {
                content: "";
                border-radius: 50%;
                @include cover();
                padding-top: 50%;
                box-shadow: inset 0 0 3px rgba(#000,.7);
            }
        }
    }
}


.box-panel {
    .box-title {
        background: none;
        color: $palette-1;
    }
    .box-content {
        border: none;
    }
}
